{% extends 'layout.html'%}

{% block titre %}Aide{% endblock %}

{% block contenu %}
<div class="jumbotron">
    <h3>Bienvenue à la page d'aide</h3>
        <p>
            Documentation des différentes sections :
            <ul>
                <li>
                    <strong>Résolution LU</strong>
                    <br>
                    <p>
                        D'abord, donnez la taille de la matrice. Ensuite, saisissez la matrice et le vecteur.<br>
                        Enfin, vous avez le résultat affiché avec une option pour recevoir le résultat par sms.
                    </p>
                </li>
                <li>
                    <strong>Factorisation LU</strong>
                    <br>
                    <p>
                        D'abord, donnez la taille de la matrice. Ensuite, saisissez la matrice.<br>
                        Enfin, vous avez le résultat affiché (L et U) avec une option pour recevoir le résultat par sms.
                    </p>
                </li>
                <li>
                    <strong>Factorisation Cholesky</strong>
                    <br>
                    <p>
                        D'abord, donnez la taille de la matrice. Ensuite, saisissez la matrice.<br>
                        Enfin, vous avez le résultat affiché avec une option pour recevoir le résultat par sms.
                    </p>
                </li>
                <li>
                    <strong>Inverse Matrice</strong>
                    <br>
                    <p>
                        D'abord, donnez la taille de la matrice. Ensuite, saisissez la matrice.<br>
                        Enfin, vous avez le résultat affiché avec une option pour recevoir le résultat par sms.
                    </p>
                </li>
            </ul>
        </p>
    </div>
{% endblock %}
