{% extends 'layout.html'%}

{% block titre %} Factorisation LU {% endblock %}

{% block contenu %}
<h4  style="text-align:center"> Factorisation LU </h4>
<div>
	{% if taille is undefined %}


	<h5>Donnez la taille de la matrice</h5>
	<form action="" method="GET">
		<input type="number" name="taille">
		<input class="btn btn-primary btn-lg active" type="submit" value="Valider">
	</form>
	{% else %}
		{% if taille <= 0 %}
	<div class="alert alert-danger">
		<strong>Erreur! </strong>Taille de la matrice incorrecte.
	</div>
	<h5>Donnez la taille de la matrice</h5>
	<form action="" method="GET">
		<input type="number" name="taille">
		<input class="btn btn-primary" type="submit" value="Valider">
	</form>
		{%else%}
	Taille = {{taille}}
	<form action="/fact_lu/results" method="POST">
		<input type="hidden" name="taille" value="{{taille}}">
		<div class="row">
			<div class="col-xs-{{taille//2+2}}">
				<label>Matrice :</label><br>
			{%for i in range(taille)%}
				{%for j in range (taille)%}
				<input type="number" name="A{{i}}_{{j}}" style="width: 40px; margin-bottom: 10px">
				{%endfor%}
				<br>
			{%endfor%}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-5">
				<input class="btn btn-primary btn-lg active" type="submit" value="Valider">
			</div>
		</div>
		{% endif %}
	{%endif%}
	</form>
</div>
{% endblock %}
