{% extends 'layout.html'%}

{% block titre %}Accueil{% endblock %}

{% block contenu %}
<div class="jumbotron">

    <h3>Accueil</h3>

    <p><strong>Professeur</strong> : Dr. Samuel Ouya</p>
    <p><strong>Matière</strong> : Calcul Numérique</p>
    <p><strong>Classe</strong> : DIC 1 Informatique</p>
    <p>
        <strong>Binomes</strong> :
        <ul>
            <li>El Hadj Babacar Cissé</li>
            <li>Amadou Moctar Diallo</li>
        </ul>
    </p>
    <p>
        <strong>Sujet</strong> : Concevoir une application permettant d'éffectuer des opérations telles que la résolution de systèmes linéaires par :
        <ul>
            <li>la méthode de résolution LU</li>
            <li>la factorisation LU</li>
            <li>la factorisation Cholesky.</li>
        </ul>
        Aussi, avoir la possibilité de pouvoir inverser une matrice.
    </p>
</div>
{% endblock %}
