{% extends 'layout.html'%}

{% block titre %} Accueil {% endblock %}

{% block contenu %}
<div class="jumbotron" style="background-color: #EDF7F2; color: #080004">
<h2 style="color: #080004"> Accueil </h2>

	<p>
		Le but de ce projet est de concevoir une application permettant d'effectuer des operations telles que la résolution de systèmes linéraies par la methode LU, la factorisation par LU et la factorisation par Cholesky.
		<br><br>
		Développeurs:
		<ul>
			<h4><li>Oumar Niang</li></h4><br>
                    <img style ="	max-width: 15%;height: auto; "src="{{url_for('static', filename='omzo2.png')}}" alt="logo"><br>	<br>
			<h4><li>Ababacar Haidara</li></h4>
		</ul>
	</p>
</div>
{% endblock %}
