{% extends 'layout.html'%}

{% block titre %}Resultats{% endblock %}

{% block contenu %}
<div class="jumbotron">

    <h3>Résolution d'un systeme lineaire par LU : Solution</h3>
    <hr>

    <!-- Si x=0, il n'y a pas de solution -->
    {%if x == 0%}
		<h5>Pas de solution!</h5>
        <p><a href="{{url_for('resolution_lu')}}"><button class="btn btn-danger">Réessayez</button></a></p>


    <!-- Sinon, on affiche le résultat -->
    {% else %}
		{% for k in range(0, taille) %}
	        <input type="text" class="resultat" value="{{x[k]}}" disabled="disabled"><br>
		{% endfor %}
		<br>
		<p><a href="{{url_for('resolution_lu')}}"><button class="btn btn-danger">Retour</button></a></p>
	{% endif %}
</div>
{% endblock %}
